In [ ]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv("AmesHousing.csv", sep='\t')
dataset.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
dataset.info()
#dataset.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [ ]:
#FEATURE ENGINEERING: Deletion

#Delete features with too few data and too many N/A's
localCopy = dataset.copy(deep=True)

for column in localCopy:
    if localCopy[column].isna().sum() > 2000:
        localCopy.drop(column,axis=1,inplace=True)
        

#Delete insignificant features 
# Order, PID: columns with only unique numbers per row, will confuse the model
localCopy.drop(['Order','PID'], axis=1, inplace=True)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,3,2010,WD,Normal,189900

In [ ]:
#SEPARATION OF CATEGORICAL AND NUMERICAL FEATURES

#AmesExplanations.txt indicates a separation of the data in 4 types:
# Continuous - numerical
# Nominal - categorical
# Ordinal - usually categorical, numerical if order matters
# Discrete - usually numerical, categorical if it's an ID

cat_features = ['MS SubClass','MS Zoning','Street','Alley',
                'Lot Shape','Land Contour','Utilities','LotConfig',
                'Land Slope','Neighborhood','Condition 1','Condition 2',
                'Bldg Type','House Style','Roof Style','Roof Matl',
                'Exterior 1','Exterior 2','Mas Vnr Type','Foundation'
                ]
num_features = ['Lot Frontage','Lot Area','Overall Qual','Overall Cond',
                'Year Built','Year Remod/Add','Mas Vnr Area','Exter Qual',
                'Exter Cond','Bsmt Qual','Bsmt Cond','Bsmt Exposure',
                'BsmtFin Type 1', 'BsmtFin SF 1']


# to be mapped to numbers: Exter Qual, Exter Cond, Bsmt Qual, Bsmt Cond, Bsmt Exposure,
# BsmtFin Type 1

In [ ]:
#FEATURE ENGINEERING: Scaling

from sklearn.preprocessing import MinMaxScaler

#Vrem sa scalam
#Problema in datasetul nostru: avem si stringuri ex. "RL","RM" care nu se pot scala
#Solutie: aplicam numai pt coloanele cu numere

numeric_cols = localCopy.select_dtypes(include="number").columns

scaler = MinMaxScaler()
scaled_data = localCopy.copy(deep=True)
scaled_data[numeric_cols] = scaler.fit_transform(localCopy[numeric_cols])

print(scaled_data)

         Order       PID  MS SubClass MS Zoning  Lot Frontage  Lot Area  \
0     0.000000  0.000000     0.000000        RL      0.410959  0.142420
1     0.000341  0.000102     0.000000        RH      0.202055  0.048246
2     0.000683  0.000104     0.000000        RL      0.205479  0.060609
3     0.001024  0.000108     0.000000        RL      0.246575  0.046087
4     0.001366  0.001672     0.235294        RL      0.181507  0.058566
...        ...       ...          ...       ...           ...       ...
2925  0.998634  0.825655     0.352941        RL      0.054795  0.031022
2926  0.998976  0.825657     0.000000        RL           NaN  0.035453
2927  0.999317  0.825915     0.382353        RL      0.140411  0.042726
2928  0.999659  0.827371     0.000000        RL      0.191781  0.040711
2929  1.000000  0.827477     0.235294        RL      0.181507  0.038921

     Street Lot Shape Land Contour Utilities  ... Enclosed Porch 3Ssn Porch  \
0      Pave       IR1          Lvl    AllPub  ...            0.0        0.0
1      Pave       Reg          Lvl    AllPub  ...            0.0        0.0
2      Pave       IR1          Lvl    AllPub  ...            0.0        0.0
3      Pave       Reg          Lvl    AllPub  ...            0.0        0.0
4      Pave       IR1          Lvl    AllPub  ...            0.0        0.0
...     ...       ...          ...       ...  ...            ...        ...
2925   Pave       IR1          Lvl    AllPub  ...            0.0        0.0
2926   Pave       IR1          Low    AllPub  ...            0.0        0.0
2927   Pave       Reg          Lvl    AllPub  ...            0.0        0.0
2928   Pave       Reg          Lvl    AllPub  ...            0.0        0.0
2929   Pave       Reg          Lvl    AllPub  ...            0.0        0.0

     Screen Porch Pool Area  Misc Val   Mo Sold Yr Sold  Sale Type  \
0        0.000000       0.0  0.000000  0.363636     1.0        WD
1        0.208333       0.0  0.000000  0.454545     1.0        WD
2        0.000000       0.0  0.735294  0.454545     1.0        WD
3        0.000000       0.0  0.000000  0.272727     1.0        WD
4        0.000000       0.0  0.000000  0.181818     1.0        WD
...           ...       ...       ...       ...     ...        ...
2925     0.000000       0.0  0.000000  0.181818     0.0        WD
2926     0.000000       0.0  0.000000  0.454545     0.0        WD
2927     0.000000       0.0  0.041176  0.545455     0.0        WD
2928     0.000000       0.0  0.000000  0.272727     0.0        WD
2929     0.000000       0.0  0.000000  0.909091     0.0        WD

      Sale Condition  SalePrice
0             Normal   0.272444
1             Normal   0.124238
2             Normal   0.214509
3             Normal   0.311517
4             Normal   0.238626
...              ...        ...
2925          Normal   0.174763
2926          Normal   0.159269
2927          Normal   0.160616
2928          Normal   0.211814
2929          Normal   0.236066

[2930 rows x 78 columns]